<br/>
    <div class="jumbotron">
        <h1 class="display-4" style="text-align:center">Saving Our Planet</h1>
        <p class="lead" style="text-align:center">By recycling your used paper, plastic, glass and aluminim you can contribute to a better future!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button" style="align-items:center">Show Summary</a>
    </div>
