<header class="masthead">
    <div class="container" id="landingContainer" style="background-image: '~/Images/ocean.jpg'">
        <div class="masthead-subheading">Welcome To Our Studio!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</header>
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">WHAT CAN WE DO</h2>
            <br/>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa fa-refresh fa-spin fa-4x circle-icon" style="color:black !important;">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Reuse</h4>
                <p class="text-muted">Reuse is the action or practice of using an item, whether for its original purpose or to fulfill a different function. It should be distinguished from recycling, which is the breaking down of used items to make raw materials for the manufacture of new products.</p>
            </div>
            <div class="col-md-4">
                <span class="fa fa-trash fa-4x circle-icon" style="color:black !important;">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Reduce</h4>
                <p class="text-muted">The concept of reducing what is produced and what is consumed is essential to the waste hierarchy. The logic behind it is simple to understand – if there is less waste, then there is less to recycle or reuse.</p>
            </div>
            <div class="col-md-4">
                <span class="fa fa-recycle fa-spin fa-4x circle-icon" style="color:black !important;">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Recycle</h4>
                <p class="text-muted">Recycling is the process of converting waste materials into new materials and objects. The recovery of energy from waste materials is often included in this concept. The recyclability of a material depends on its ability to reacquire the properties it had in its original state.</p>
            </div>
        </div>
    </div>
</section>
