
<body id="page-top">
    <!-- Header-->
    <header class="masthead text-center text-white" style="background-image: url('../../images/backgrd.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; min-height: 500px; min-width:1000px; ">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 @*class="masthead-heading mb-0"*@ style="font-size: 100px;">Save Our Planet</h1>
                <h2 @*class="masthead-subheading mb-0"*@ style="font-size: 50px;">Recycling Tracking System</h2>
                <h2 @*class="masthead-subheading mb-0"*@ style="font-size: 40px;">ML McLaren u04462808</h2>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="https://www.un.org/sustainabledevelopment/sustainable-consumption-production/">Learn More</a>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="https://drive.google.com/drive/folders/1SAMuIpGlq-HhA868YDgQXMsSpIXwQHE0?usp=sharing">Get Documentation</a>
            </div>
        </div>
    </header>
    <section>
        <div>
            <h1 style="text-align:center; padding-top: 70px;"><u>Why Implement This System?</u></h1>
        </div>
        <div>
            <p style="text-align: center; max-width: 1000px; padding-top: 10px; margin-left:23%; margin-right:10%;font-size: 20px;">You can identify your existing waste streams and determine how much waste you are generating by implementing a tracking system.Therefore, you can maximize landfill diversion while capturing waste that can be recycled or repurposed.</p>
        </div>
    </section>
    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="~/Images/ocean.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">REUSE...</h2>
                        <p>Reuse is the action or practice of using an item, whether for its original purpose or to fulfill a different function. It should be distinguished from recycling, which is the breaking down of used items to make raw materials for the manufacture of new products.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="~/Images/tree.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">REDUCE...</h2>
                        <p>The concept of reducing what is produced and what is consumed is essential to the waste hierarchy. The logic behind it is simple to understand – if there is less waste, then there is less to recycle or reuse.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 3-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="~/Images/background.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">RECYCLE...</h2>
                        <p>Recycling is the process of converting waste materials into new materials and objects. The recovery of energy from waste materials is often included in this concept. The recyclability of a material depends on its ability to reacquire the properties it had in its original state.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <img src="~/Images/UC1.png" />
    <img src="~/Images/UC2.png" />
    <img src="~/Images/UC3.png" />
    <img src="~/Images/UC4.png" />
    <img src="~/Images/HW 4 Diagram.png" />
</body>
